<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <p>Hello, <%= user.displayName %>!</p>
    <!-- Profile ID -->
    <p> Your User ID: <%= user.id %></p>
    <!-- Profile Email -->
    <p> Your Profile Email: <%= user.emails[0].value %></p>
    <!-- Profile Image -->
    <img src="<%= user.photos[0].value %>" alt="Profile Image" style="width: 100px; height: 100px;"/>
    <!-- Logout Link -->
    <a href="/logout">Logout</a>

</body>
</html>