<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login aa</title>
</head>
<body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="/auth/google">Login with Google</a>
</body> 
</html>